nvidia-cusolver-cu12==11.6.1.9
pytorch-lightning==2.5.2
nvidia-cuda-runtime-cu12==12.4.127
lightning-utilities==0.14.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-cusparse-cu12==12.3.1.170
nvidia-cufft-cu12==11.2.1.3
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-curand-cu12==10.3.5.147
nvidia-cudnn-cu12==9.1.0.70
torchmetrics==1.7.3
nvidia-cuda-nvrtc-cu12==12.4.127
google-colab==1.0.0
hyperopt==0.2.7
tzlocal==5.3.1
narwhals==1.45.0
cupy-cuda12x==13.3.0
gitdb==4.0.12
blosc2==3.5.0
multipledispatch==1.0.0
kiwisolver==1.4.8
torchsummary==1.5.1
contourpy==1.3.2
gym-notices==0.0.8
frozenlist==1.7.0
pyomo==6.9.2
catalogue==2.0.10
nibabel==5.3.2
multiprocess==0.70.15
python-slugify==8.0.4
pandas-stubs==2.2.2.240909
miniKanren==1.0.3
text-unidecode==1.3
docutils==0.21.2
ibis-framework==9.5.0
multitasking==0.0.11
Markdown==3.8.2
keras==3.8.0
sympy==1.13.1
pyproj==3.7.1
tblib==3.1.0
ipython==7.34.0
cachetools==5.5.2
opencv-contrib-python==4.11.0.86
websockets==15.0.1
fastjsonschema==2.21.1
pydantic_core==2.33.2
langchain-core==0.3.67
platformdirs==4.3.8
xlrd==2.0.2
grpcio==1.73.1
cudf-polars-cu12==25.2.2
termcolor==3.1.0
uvicorn==0.35.0
pydub==0.25.1
weasel==0.4.1
pluggy==1.6.0
scikit-image==0.25.2
SecretStorage==3.3.3
pyasn1==0.6.1
babel==2.17.0
ipytree==0.2.2
idna==3.10
uc-micro-py==1.0.3
notebook==6.5.7
treescope==0.1.9
nvidia-nvtx-cu12==12.4.127
pyogrio==0.11.0
libucx-cu12==1.18.1
xxhash==3.5.0
umf==0.11.0
debugpy==1.8.0
pyasn1_modules==0.4.2
astunparse==1.6.3
aiofiles==24.1.0
distributed-ucxx-cu12==0.42.0
fonttools==4.58.4
soxr==0.5.0.post1
groovy==0.1.2
regex==2024.11.6
google-cloud-language==2.17.2
spacy==3.8.7
pydata-google-auth==1.9.1
cymem==2.0.11
linkify-it-py==2.0.3
statsmodels==0.14.4
libcudf-cu12==25.2.1
dask==2024.12.1
librosa==0.11.0
fastai==2.7.19
backports.tarfile==1.2.0
sklearn-compat==0.1.3
xyzservices==2025.4.0
keyrings.google-artifactregistry-auth==1.1.2
gym==0.25.2
sphinxcontrib-applehelp==2.0.0
matplotlib-venn==1.1.2
marisa-trie==1.2.1
traitlets==5.7.1
pydotplus==2.0.2
numpy==2.0.2
googleapis-common-protos==1.70.0
cmdstanpy==1.2.5
notebook_shim==0.2.4
absl-py==1.4.0
libcuvs-cu12==25.2.1
locket==1.0.0
sqlparse==0.5.3
google-cloud-bigquery-connection==1.18.3
wheel==0.45.1
Send2Trash==1.8.3
ndindex==1.10.0
jsonpickle==4.1.1
atpublic==5.1
dill==0.3.7
typer==0.16.0
dask-cuda==25.2.0
ruff==0.12.1
GitPython==3.1.44
immutabledict==4.2.1
pygame==2.6.1
jax-cuda12-plugin==0.5.1
rich==13.9.4
iniconfig==2.1.0
tensorflow-io-gcs-filesystem==0.37.1
bigquery-magics==0.9.0
triton==3.2.0
fastapi==0.115.14
PyJWT==2.10.1
httplib2==0.22.0
python-snappy==0.7.3
holidays==0.75
wandb==0.20.1
kaggle==1.7.4.5
python-multipart==0.0.20
soupsieve==2.7
pylibcudf-cu12==25.2.1
firebase-admin==6.9.0
tensorflow==2.18.0
nbformat==5.10.4
cons==0.4.6
dm-tree==0.1.9
ydf==0.12.0
google-auth==2.38.0
array_record==0.7.2
jsonpatch==1.33
geopy==2.4.1
matplotlib==3.10.0
betterproto==2.0.0b6
treelite==4.4.1
google-cloud-aiplatform==1.100.0
colour==0.1.5
dask-expr==1.1.21
plotly==5.24.1
nvidia-nccl-cu12==2.21.5
orbax-checkpoint==0.11.16
cuvs-cu12==25.2.1
pymystem3==0.2.0
soundfile==0.13.1
google-api-core==2.25.1
langsmith==0.4.4
gymnasium==1.2.0
pandas-gbq==0.29.1
tiktoken==0.9.0
psycopg2==2.9.10
natsort==8.4.0
openpyxl==3.1.5
pyOpenSSL==24.2.1
tinycss2==1.4.0
rmm-cu12==25.2.0
python-dateutil==2.9.0.post0
imageio-ffmpeg==0.6.0
keras-nlp==0.18.1
branca==0.8.1
google-cloud-bigquery==3.34.0
oauthlib==3.3.1
cyipopt==1.5.0
google-auth-httplib2==0.2.0
huggingface-hub==0.33.1
scooby==0.10.1
accelerate==1.8.1
google-cloud-resource-manager==1.14.2
partd==1.4.2
cycler==0.12.1
aiohappyeyeballs==2.6.1
audioread==3.0.1
duckdb==1.2.2
httpx==0.28.1
matplotlib-inline==0.1.7
torchtune==0.6.1
ratelim==0.1.6
community==1.0.0b1
google-cloud-iam==2.19.1
humanize==4.12.3
mkl==2025.0.1
datasets==2.14.4
google==2.0.3
blinker==1.9.0
pandas-datareader==0.10.0
tensorflow-hub==0.16.1
missingno==0.5.2
lxml==5.4.0
pandocfilters==1.5.1
prometheus_client==0.22.1
clarabel==0.11.1
pandas==2.2.2
sphinxcontrib-htmlhelp==2.1.0
grpclib==0.4.8
zipp==3.23.0
numba==0.60.0
promise==2.3
osqp==1.0.4
sentence-transformers==4.1.0
flatbuffers==25.2.10
wurlitzer==3.1.1
tensorflow-text==2.18.1
opt_einsum==3.4.0
spacy-legacy==3.0.12
language_data==1.3.0
networkx==3.5
smart_open==7.3.0
graphviz==0.21
albumentations==2.0.8
hyperframe==6.1.0
mdit-py-plugins==0.4.2
jupyter-console==6.1.0
Cython==3.0.12
roman-numerals-py==3.1.0
einops==0.8.1
grpc-google-iam-v1==0.14.2
mistune==3.1.3
alabaster==1.0.0
urllib3==2.4.0
requests==2.32.3
pillow==11.2.1
ipywidgets==7.7.1
google-cloud-storage==2.19.0
cmake==3.31.6
blis==1.3.0
setproctitle==1.3.6
requests-oauthlib==2.0.0
xarray-einstats==0.9.1
psutil==5.9.5
pydot==3.0.4
itsdangerous==2.2.0
et_xmlfile==2.0.0
typing-inspection==0.4.1
bqplot==0.12.45
opencv-python-headless==4.11.0.86
libucxx-cu12==0.42.0
xarray==2025.3.1
google-auth-oauthlib==1.2.2
pymc==5.23.0
Sphinx==8.2.3
pyzmq==24.0.1
future==1.0.0
namex==0.1.0
wordcloud==1.9.4
mpmath==1.3.0
datascience==0.17.6
jaraco.functools==4.2.1
scipy==1.15.3
stumpy==1.13.0
pynvjitlink-cu12==0.7.0
ucxx-cu12==0.42.0
libclang==18.1.1
CacheControl==0.14.3
fastcore==1.7.29
requests-toolbelt==1.0.0
inflect==7.5.0
google-api-python-client==2.174.0
yellowbrick==1.5
spacy-loggers==1.0.5
pyshp==2.3.1
jupyterlab_pygments==0.3.0
tensorstore==0.1.74
pyproject_hooks==1.2.0
distributed==2024.12.1
gspread-dataframe==4.0.0
scs==3.2.7.post2
google-cloud-translate==3.21.0
albucore==0.0.24
googledrivedownloader==1.1.0
patsy==1.0.1
bigframes==2.8.0
gin-config==0.5.0
webencodings==0.5.1
proto-plus==1.26.1
panel==1.7.2
cffi==1.17.1
geographiclib==2.0
PyYAML==6.0.2
langcodes==3.5.0
safehttpx==0.1.6
cufflinks==0.17.3
wcwidth==0.2.13
ipython-sql==0.5.0
glob2==0.7
editdistance==0.8.1
optree==0.16.0
intel-openmp==2025.2.0
httpcore==1.0.9
logical-unification==0.4.6
protobuf==5.29.5
google-resumable-media==2.7.2
portpicker==1.5.2
pathlib==1.0.1
PyOpenGL==3.1.9
prettytable==3.16.0
dopamine_rl==4.1.2
argon2-cffi-bindings==21.2.0
torchao==0.10.0
Farama-Notifications==0.0.4
hf-xet==1.1.5
fastprogress==1.0.3
anyio==4.9.0
pyarrow==18.1.0
earthengine-api==1.5.22
param==2.2.1
threadpoolctl==3.6.0
keyring==25.6.0
simsimd==6.4.9
imbalanced-learn==0.13.0
parsy==2.1
google-ai-generativelanguage==0.6.15
backcall==0.2.0
Bottleneck==1.4.2
bleach==6.2.0
pexpect==4.9.0
importlib_metadata==8.7.0
greenlet==3.2.3
pyerfa==2.0.1.5
tabulate==0.9.0
google-genai==1.23.0
astropy-iers-data==0.2025.6.30.0.39.40
jupytext==1.17.2
dlib==19.24.6
confection==0.1.5
jsonschema==4.24.0
rpy2==3.5.17
tensorflow-probability==0.25.0
sphinxcontrib-devhelp==2.0.0
stanio==0.5.1
spanner-graph-notebook==1.1.7
transformers==4.53.0
ffmpy==0.6.0
tables==3.10.2
chardet==5.2.0
polars==1.21.0
dataproc-spark-connect==0.7.5
safetensors==0.5.3
grpcio-status==1.71.2
omegaconf==2.3.0
tsfresh==0.21.0
pynvml==12.0.0
markdown-it-py==3.0.0
referencing==0.36.2
python-utils==3.9.1
en_core_web_sm==3.8.0
tcmlib==1.4.0
ml-dtypes==0.4.1
libcuml-cu12==25.2.1
jupyter-leaflet==0.20.0
jax-cuda12-pjrt==0.5.1
google-cloud-dataproc==5.20.0
highspy==1.11.0
jaraco.classes==3.4.0
pygit2==1.18.0
cryptography==43.0.3
ucx-py-cu12==0.42.0
arviz==0.21.0
pytensor==2.31.5
seaborn==0.13.2
orjson==3.10.18
torchvision==0.21.0+cu124
google-generativeai==0.8.5
importlib_resources==6.5.2
diffusers==0.34.0
nvidia-ml-py==12.575.51
google-crc32c==1.7.1
defusedxml==0.7.1
sqlglot==25.20.2
traittypes==0.2.1
thinc==8.3.6
raft-dask-cu12==25.2.0
tensorflow_decision_forests==1.11.0
MarkupSafe==3.0.2
zict==3.0.0
umap-learn==0.5.8
Jinja2==3.1.6
starlette==0.46.2
ale-py==0.11.1
attrs==25.3.0
google-cloud-datastore==2.21.0
uritemplate==4.2.0
textblob==0.19.0
nvidia-cuda-nvcc-cu12==12.5.82
mizani==0.13.5
sniffio==1.3.1
lightgbm==4.5.0
widgetsnbextension==3.6.10
click==8.2.1
tzdata==2025.2
timm==1.0.16
jsonschema-specifications==2025.4.1
yfinance==0.2.64
html5lib==1.1
gdown==5.2.0
openai==1.93.0
beautifulsoup4==4.13.4
frozendict==2.4.6
Flask==3.1.1
keras-hub==0.18.1
hf_transfer==0.1.9
oauth2client==4.1.3
pickleshare==0.7.5
pyspark==3.5.1
gast==0.6.0
eerepr==0.1.2
vega-datasets==0.9.0
tf_keras==2.18.0
wasabi==1.1.3
docstring_parser==0.16
peft==0.15.2
python-louvain==0.16
holoviews==1.21.0
colorlover==0.3.0
joblib==1.5.1
wrapt==1.17.2
jupyter_core==5.8.1
sphinxcontrib-qthelp==2.0.0
jsonpointer==3.0.0
terminado==0.18.1
pyparsing==3.2.3
rpds-py==0.26.0
hpack==4.1.0
aiohttp==3.11.15
libcugraph-cu12==25.2.0
llvmlite==0.43.0
mdurl==0.1.2
libraft-cu12==25.2.0
webcolors==24.11.1
autograd==1.8.0
libpysal==4.13.0
preshed==3.0.10
semantic-version==2.10.0
ipyparallel==8.8.0
Pygments==2.19.2
nest-asyncio==1.6.0
gspread==6.2.1
cuda-python==12.6.2.post1
py-cpuinfo==9.0.0
etils==1.12.2
ipyevents==2.0.2
slicer==0.0.8
nvidia-nvcomp-cu12==4.2.0.11
kagglehub==0.3.12
certifi==2025.6.15
etuples==0.3.9
murmurhash==1.0.13
ipython-genutils==0.2.0
tensorflow-datasets==4.9.9
jupyter-server==1.16.0
shellingham==1.5.4
prompt_toolkit==3.0.51
smmap==5.0.2
jupyter_kernel_gateway==2.5.2
toolz==0.12.1
flax==0.10.6
gradio==5.31.0
nvtx==0.2.12
ipykernel==6.17.1
jupyterlab_widgets==3.0.15
tweepy==4.15.0
httpimport==1.4.1
db-dtypes==1.4.3
plotnine==0.14.6
jaraco.context==6.0.1
typing_extensions==4.14.0
google-cloud-bigquery-storage==2.32.0
nbclient==0.10.2
tenacity==8.5.0
shap==0.48.0
geocoder==1.38.1
six==1.17.0
pytz==2025.2
tomlkit==0.13.3
pycairo==1.28.0
h5py==3.14.0
entrypoints==0.4
shapely==2.1.1
pooch==1.8.2
torchdata==0.11.0
PyWavelets==1.8.0
PyGObject==3.42.0
google-cloud-firestore==2.21.0
stringzilla==3.12.5
simple-parsing==0.1.7
simplejson==3.20.1
cramjam==2.10.0
google-cloud-core==2.4.3
folium==0.19.7
tornado==6.4.2
ptyprocess==0.7.0
easydict==1.13
pyviz_comms==3.0.6
pylibraft-cu12==25.2.0
pynndescent==0.5.13
progressbar2==4.5.0
sortedcontainers==2.4.0
gcsfs==2025.3.2
google-cloud-functions==1.20.4
music21==9.3.0
filelock==3.18.0
tqdm==4.67.1
tensorboard-data-server==0.7.2
build==1.2.2.post1
rapids-dask-dependency==25.2.0
cudf-cu12==25.2.1
nbclassic==1.3.1
torchaudio==2.6.0+cu124
imagesize==1.4.1
tensorboard==2.18.0
imageio==2.37.0
google-cloud-spanner==3.55.0
sklearn-pandas==2.2.0
pylibcugraph-cu12==25.2.0
jiter==0.10.0
ply==3.11
langchain-text-splitters==0.3.8
ipyfilechooser==0.6.0
pyperclip==1.9.0
charset-normalizer==3.4.2
argon2-cffi==25.1.0
zstandard==0.23.0
sentry-sdk==2.32.0
h2==4.2.0
cloudpathlib==0.21.1
PyDrive==1.3.1
cuml-cu12==25.2.1
intel-cmplr-lib-ur==2025.2.0
geemap==0.35.3
jax==0.5.2
nltk==3.9.1
mlxtend==0.23.4
torch==2.6.0+cu124
fastrlock==0.8.3
altair==5.5.0
PyDrive2==1.21.3
peewee==3.18.1
bokeh==3.7.3
more-itertools==10.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-serializinghtml==2.0.0
ipyleaflet==0.20.0
aiosignal==1.3.2
tokenizers==0.21.2
jieba==0.42.1
h5netcdf==1.6.3
toml==0.10.2
yarl==1.20.1
pytest==8.3.5
typeguard==4.4.4
nbconvert==7.16.6
opencv-python==4.11.0.86
msgpack==1.1.1
annotated-types==0.7.0
cvxpy==1.6.6
tifffile==2025.6.11
pycocotools==2.0.10
curl_cffi==0.11.4
fsspec==2025.3.2
pycryptodomex==3.23.0
pycparser==2.22
py4j==0.10.9.7
chex==0.1.89
numba-cuda==0.2.0
jupyter-client==6.1.12
scikit-learn==1.6.1
fastdownload==0.0.7
GDAL==3.8.4
cloudpickle==3.1.1
snowballstemmer==3.0.1
SQLAlchemy==2.0.41
sentencepiece==0.2.0
colorcet==3.1.0
dask-cudf-cu12==25.2.2
blobfile==3.0.0
decorator==4.4.2
moviepy==1.0.3
gradio_client==1.10.1
cvxopt==1.3.2
Werkzeug==3.1.3
grpc-interceptor==0.15.4
python-box==7.3.2
srsly==2.5.1
lazy_loader==0.4
parso==0.8.4
jaxlib==0.5.1
astropy==7.1.0
packaging==24.2
rsa==4.9.1
PySocks==1.7.1
optax==0.2.5
langchain==0.3.26
tensorflow-metadata==1.17.2
types-pytz==2025.2.0.20250516
tf-slim==1.1.0
libkvikio-cu12==25.2.1
prophet==1.1.7
imutils==0.5.4
xgboost==2.1.4
distro==1.9.0
hdbscan==0.8.40
pydantic==2.11.7
multidict==6.6.3
geopandas==1.0.1
nvidia-cusparselt-cu12==0.6.2
jeepney==0.9.0
nx-cugraph-cu12==25.2.0
antlr4-python3-runtime==4.9.3
propcache==0.3.2
numexpr==2.11.0
google-pasta==0.2.0
websocket-client==1.8.0
tbb==2022.2.0
h11==0.16.0
proglog==0.1.12
python-apt==0.0.0
pip==24.1.2
types-setuptools==80.9.0.20250529
requirements-parser==0.9.0
setuptools==75.2.0
zipp==1.0.0
Mako==1.1.3
keyring==23.5.0
PyJWT==2.3.0
distro==1.7.0
SecretStorage==3.3.1
six==1.16.0
lazr.uri==1.0.6
oauthlib==3.2.0
launchpadlib==1.10.16
blinker==1.4
PyGObject==3.42.1
python-apt==2.4.0+ubuntu4
more-itertools==8.10.0
importlib-metadata==4.6.4
dbus-python==1.2.18
httplib2==0.20.2
jeepney==0.7.1
Markdown==3.3.6
cryptography==3.4.8
pyparsing==2.4.7
lazr.restfulclient==0.14.4
wadllib==1.3.6
MarkupSafe==2.0.1
autocommand==2.2.2
backports.tarfile==1.2.0
inflect==7.3.1
importlib_resources==6.4.0
wheel==0.43.0
zipp==3.19.2
more-itertools==10.3.0
jaraco.functools==4.0.1
packaging==24.1
typing_extensions==4.12.2
platformdirs==4.2.2
tomli==2.0.1
jaraco.text==3.12.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
typeguard==4.3.0
importlib_metadata==8.0.0
